*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:
linear-gradient(135deg,#141e30,#243b55);

}

.container{

width:430px;

padding:30px;

border-radius:25px;

backdrop-filter:blur(12px);

background:rgba(255,255,255,.08);

box-shadow:
0 0 30px rgba(0,255,255,.3);

text-align:center;

}

h1{

color:white;

margin-bottom:10px;

font-size:30px;

}

.subtitle{

color:#ccc;

margin-bottom:20px;

}

#status{

color:#00ffcc;

font-size:20px;

margin-bottom:20px;

font-weight:bold;

}

#board{

display:grid;

grid-template-columns:repeat(3,110px);

gap:10px;

justify-content:center;

}

.cell{

width:110px;

height:110px;

background:rgba(255,255,255,.15);

border-radius:18px;

display:flex;

justify-content:center;

align-items:center;

font-size:52px;

cursor:pointer;

transition:.3s;

color:white;

}

.cell:hover{

transform:scale(1.08);

background:#00bcd4;

}

button{

margin-top:25px;

padding:12px 30px;

border:none;

border-radius:30px;

font-size:18px;

background:#00e676;

cursor:pointer;

font-weight:bold;

transition:.3s;

}

button:hover{

transform:scale(1.08);

background:#00ff95;

}

.score{

margin-top:30px;

display:flex;

justify-content:space-around;

color:white;

font-size:20px;

}

.score span{

display:block;

font-size:28px;

margin-top:8px;

color:#00ffcc;

}